.image_menu_box{
  width: 100%;
  height: 48%;
  min-height: 300px;
  background-color: red;
  direction: rtl;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .80;
}
.menu_box{
  display: flex;
}
.menu_item{
  font-size: clamp(12px , 1.1vw , 24px);
  padding: 10px 20px;
  cursor: pointer;
  color: white;
}
.image{}
