@import "src/app/Assets/colors/color";

.component_container{
  display: flex;
  align-items: center;
  direction: rtl;
}
.circle{
  height: clamp(20px , 2vw , 38px);
  width: clamp(20px , 2vw , 38px);;
  border: 1px solid $dark-gray;
  border-radius: 100px;
  margin-left: 7px;
  min-width: 20px;
  min-height: 20px;
}
.text{
  font-size: clamp(12px , 1.1vw , 24px);;
  font-weight: bold;
}

@media screen and (max-width: 700px){
  .circle{
    display: none;
  }
}
