@import "src/app/Assets/colors/color";

.about_us_container{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container{
  display: flex;
  flex: 1;
}
.green_box{
  background-color: $body-blue;
  width: 20%;
  height: 100%;
  min-width: 100px;
  border: 1px solid $light-gray;
  padding: 30px 5px;
}
.links{
  margin-bottom: 15px;
  cursor: pointer;
  & > p {
    font-weight: normal !important;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.content_box{
  direction: rtl;
  flex: 1;
  padding: 35px 40px;
}
